
.icon-phone:before { content: '\e800'; } /* '' */
.icon-leaf:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-basket:before { content: '\e807'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-user-md:before { content: '\f0f0'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-heartbeat:before { content: '\f21e'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
